.mondrian-container{
    justify-content: center;
    margin: 5rem;
    
}

.mondrian-wrapper{
    display: grid;
    grid-gap: 0.5rem;
    background: black;
    border: solid 0.5rem black;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
}
.mondrian-title-container{
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 100%;
    align-items: center;
    border-bottom: 3px solid var(--primary-color);
    margin-bottom: 2rem;
}
.mondrian-title-container h1{
    padding-bottom: 1rem;
}
.mondrian-title-container p{
    align-self: start;
    width: 100%;
}
.mondrian-button-container{
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.mondrian-button-container button{
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 2rem;
    width: 40%;
    font-size: 1.5rem;
    cursor: pointer;
}
.mondrian-button-container button:hover{
    background-color: var(--primary-color);
}
.mondrian-button-container > * {
    margin:5px;
}

.mondrian-buttons{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}
.mondrian-buttons button {
    flex: 1;
}
.mondrian-buttons h1 {
    flex: 1 1 75%;
    text-align: center;
}


.mondrian-buttons button{
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.mondrian-animationGenerator-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


@media (max-width: 1000px){
    .mondrian-container{
        margin: 1rem;
    }
}

@media (max-width: 550px){
    .mondrian-container{
        margin: 0.2rem;
    }
}