:root{
  --background-color: #f5efef;
  --primary-color: #F05532;
  --dark-color: #3b3b37;
  --light-color: white;
}

/* Main wrapper */
.wrapper{
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

/* Generics */
  ul > li {
    padding: 0;
  }
  ul {
    margin: 0;
  }

  .bar-break{
  background: var(--primary-color);
  padding: 1.04rem 5vw 0.9rem calc(5vw + 1.2rem);
  }

  .error-input {
    border: 2px solid red;
    border-radius: 4px;
  }
    .error-text {
      margin: 0.25em 0 0 0;
      padding: 0;
      color: red;
      font-style: bold;
      font-size: 1.2rem;
  }

/* Header Area */
  header {
    background: var(--background-color);
    /* padding: 5rem 5vw 2rem;  */
    display: flex;
    margin: auto;
    padding-bottom: 30rem;
  }

  header h1 {
    font-size: calc(1.3rem + 1.8vw);
    margin: 0;
    line-height: 1.2em; 
  }
  header p {
    margin: 2rem 0 0; 
  }
  header ul {
    margin: 0; 
  }
  header p,
  header a {
    color: rgba(38, 32, 32, 0.7); 
  }
  header a {
    border-bottom: 1px solid rgba(167, 146, 146, 0.79); 
  }
  header a:hover{
    color: var(--primary-color);
  }

/* Mondrian section */
.mondrian{
    background-color: var(--light-color);
    padding: 5rem 5vw 2rem; 
    padding-bottom: 30rem;
}


@media (max-width: 820px){
  header {
      padding-top: 5rem;
      padding-bottom: 5rem;
  }
}
