:root{
  /* --background-color: #f5efef; */
  --background-color: #FB9985;
  --alt-background-color: #f88070;
  --alt-primary-color: #B3E3B5;
  --primary-color: #F05532;
  --dark-color: #48484A;
  --alt-dark-color: #48484A;
  --light-color: white;
  --alt-shadow-color: rgba(10, 10, 10, 0.8);
}

/* Main wrapper */
.wrapper{
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

/* Generics */
  ul > li {
    padding: 0;
  }
  ul {
    margin: 0;
  }

  button {
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 2rem;
    width: 15rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .bar-break{
  background: var(--alt-dark-color);
  padding: 1.04rem 5vw 0.9rem calc(5vw + 1.2rem);
  }

  .error-input {
    border: 2px solid red;
    border-radius: 4px;
  }
    .error-text {
      margin: 0.25em 0 0 0;
      padding: 0;
      color: red;
      font-style: bold;
      font-size: 1.2rem;
  }

/* Header Area */
  header {
    background: var(--background-color);
    padding: 5rem 5vw 2rem; 
    display: flex;
    margin: auto;
    padding-bottom: 30rem;
  }

  header h1 {
    font-size: calc(1.3rem + 1.8vw);
    margin: 0;
    line-height: 1.2em; 
  }
  header p {
    margin: 2rem 0 0; 
  }
  header ul {
    margin: 0; 
  }
  header p,
  header a {
    color: rgba(38, 32, 32, 0.7); 
  }
  header a {
    border-bottom: 1px solid rgba(167, 146, 146, 0.79); 
  }
  header a:hover{
    color: var(--primary-color);
  }

/* Mondrian section */
.mondrian{
    background-color: var(--light-color);
    padding: 5rem 5vw 2rem; 
    padding-bottom: 30rem;
}

.monopoly{
    background-color: var(--light-color);
    padding: 5rem 5vw 2rem; 
    padding-bottom: 30rem;
}


@media (max-width: 820px){
  /* header {
      padding-top: 5rem;
      padding-bottom: 5rem;
  } */
}
